html {
  background-color: black;
}
body {
  background-color: rgba(227, 227, 238, 0.801);
  border-radius: 15px;
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
  font-family: cursive;
}

.center {
  text-align: center;
}

.blue {
  color: rgb(27, 27, 146);
}
.centerUnder {
  text-align: center;
  text-decoration: underline;
}

a {
  color: red;
}

a:hover {
  font-weight: bold;
}
